body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 0;
    line-height: 1.5;
}

h2{
    margin-top: 2em;
    line-height: 1;
    font-size: 32px;
}

#container{
    
    margin: 1em auto;
    width: 75%;
    min-width: 450px;
    border: 15px solid red;
    background-color: tomato;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.introSlide{
    text-align: center;
    margin: 2em auto;
    width: 90%;
    border: 10px solid turquoise;
    border-radius: 5px;
    background-color: black ;
    line-height: 1.5;
    color: white;
    overflow: hidden; 
}

.introSlideTitle{
    font-size: 5vw;
    
    padding: 1em ;
    text-align: center;
    
    text-transform: uppercase;
}

.slide{
    text-align: center;
    margin: 2em auto;
    width: 90%;
    border: 10px solid black;
    border-radius: 5px;
    background-color: #191919 ;
    line-height: 1.5;
    color: white;
    overflow: hidden; 
}

.slideHeading{

    font-size: 24px;
    border: 2px solid white;
}

.content{
    font-size: 18px;
    text-align: left;
    border: 2px solid white;
}

#download img{
    margin: 1em auto 3em auto;
    width: 200px;
    opacity: 75%;
}

#download img:hover{
    opacity: 100%;
    
}

